.btn {
  color: $white;
  border: transparent;
  border-radius: $lg-br;

  &__menu-big {
    padding: 0.83rem 5.2rem;
    background: $orange;

    &:hover {
      background-color: $light-orange;
    }
  }

  &__menu-selection {
    padding: 0.556em 2.056em;
    background: $gray;
    color: $white;
    grid-column: span 2;
    &:hover {
      background: $blue;
    }

    &:active {
      background: $dark-blue;
    }
  }

  &__primary {
    background: $orange;
    padding: 0.778em 1.611em;

    &:hover {
      background: $light-orange;
    }
  }

  &__secondary {
    background: $gray;
    padding: 0.578em 1.611em;

    &:hover {
      background: $light-gray;
      color: $dark-blue;
    }
  }
}

.circle-button {
  background-color: $gray;
  color: $white;
  display: grid;
  place-items: center;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: transparent;
  font-size: $circle-number;

  &:hover {
    background: $light-gray;
    color: $dark-blue;
  }

  &__flipped {
    background-color: $dark-blue;
    color: $dark-blue;

    &:hover {
      background-color: $blue;
      color: $blue;
    }
  }
}
