.btn {
  color: $white;
  border: transparent;
  border-radius: $lg-br;

  &__menu-big {
    padding: 0.83rem 10.2rem;
    background: $orange;

    &:hover {
      background-color: $light-orange;
    }
  }

  &__menu-selection {
    padding: 0.556em 4.056em;
    background: $gray;
    color: $white;

    &:hover {
      background: $blue;
    }

    &:active {
      background: $dark-blue;
    }
  }

  &__primary {
    background: $orange;
    padding: 0.778em 1.611em;

    &:hover {
      background: $light-orange;
    }
  }

  &__secondary {
    background: $blue;
    padding: 0.778em 1.611em;

    &:hover {
      background: $light-gray;
      color: $dark-blue;
    }
  }
}

// .primary-btn {
// }

// .secondary-btn {
// }
