.game-menu-title {
  color: $white;
}

.option {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 36.33em;
  background-color: $white;
  border-radius: $s-br;
  padding: 3.2em;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;

    &__title {
      grid-column: span 2;
    }
  }
}
