.game-menu-title {
  color: $white;
  margin-bottom: 1.5em;
}

.option {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  max-width: 36.33em;
  background-color: $white;
  border-radius: $s-br;
  padding: 1.5em;
  margin-inline: 2em;

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.7em;

    &__title {
      grid-column: span 4;
    }
  }
}
