.game-board-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.circleButtons {
  display: grid;
  place-items: center;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: $gray;
}
