.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // height: 100vh;
}

.black-bg {
  background-color: $black;
}

.white-bg {
  background-color: $white;
}

@media (min-width: 600px) {
}
