// variables

// Theme Colors
$black: #152938 !default;
$white: #fcfcfc !default;
$orange: #fda214 !default;
$light-orange: #ffb84a !default;
$light-gray: #f2f2f2 !default;
$gray: #bcced9 !default;
$dark-gray: #7191a5 !default;
$blue: #6395b8 !default;
$dark-blue: #304859 !default;

// Font Sizes
$main-title: 2.667rem; //48px
$title: 1.778rem; //32px
$sub-title: 1.111rem; //20px
$body: 1rem; //18px
$sixbysix-game: 2.444rem; //44px
$fourbyfour-game: 3.111rem; //56px

//Line-height
$lh-body: 1.867rem; //28px
$lh-h4: 2.133rem; //32px
$lh-h3-sm: 1.667rem; //25px
$lh-h3-big: 2.667rem; //40px
$lh-h2: 3.733rem; //56px
$lh-h1-sm: $lh-h2; // 56px
$lh-h1-lg: 4.8rem; //72px

// Spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// Borders
$base-border-thickness: 1px;
$lg-br: 35px;
$m-br: 26px;
$s-br: 20px;
